/.idea/
/google-service/target/
/yahoo-service/target/
/*.iml
/**/*.iml
/proxy-service/target/
/alphavantageapi/target/
/proxy-service/target/
/ui-service/target/
/yahoo-service/target/
/alphavantageapi/target/
